<form method="post" action="/all_peeps">
  <label for='peep'>PEEP:</label>
  <input type="text" name="peep"/>
  <input type="submit" value="Submit" />
</form>


<ul>
  <% @peeps.each do |peep| %>
  <li> <%= peep %> </li>  
  <% end %>


</ul>