<html>

<!-- <% @bookmarks.each do |item| %>
  <%= item %> </br>
    <% end %>

      <br>
      <form action='/add' method='get'>
        <div>
          <input type='submit' name='add url' value='Add'>
        </div>
      </form>

      <%= flash[:notice] %> -->

</html>